Flask==3.1.1
gevent==24.11.1 # Adjusted to be compatible with locust 2.37.4
greenlet==3.2.2
itsdangerous==2.2.0
Jinja2==3.1.6
locust==2.37.4
MarkupSafe==3.0.2
msgpack==1.1.0
pyzmq==26.4.0
requests==2.32.3
Werkzeug==3.1.3
